<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Basic user login app - mongodb </title>
	<link rel='stylesheet' type='text/css' href='./main.css' />
</head>
<body id='controllaAppBody'>
	
	<h1 id='titoloControllaApp'>
		Basic mongoDB login in node.js
	</h1>

	<div id='contenitoreParag'>
		<div>
			<!-- Applicazione che permette di controllare l'autenticazione di un utente, attraverso il processo di login. -->
			Application that allows you to control the authentication of a user, through the login process.
		</div>

		<div>
			The example also shows the use of the express-session package and how to encode the user password through the sha256 coding algorithm.
			<!-- L'esempio inoltre mostra l'utilizzo del pacchetto express-session e come codificare la password utente attraverso l'agoritmo di codifice sha256. -->
		</div>

	</div>

	<div class='mainBlockBox'>

			<div class='box1ManageLogIn' param-valore='login.html' onclick="prendival(this)">
				Login
			</div>

			<div class='box1ManageRegistra' param-valore='registrazione.html' onclick="prendival(this)">
				Signin
			</div>

			<div class='box1ManageDB' param-valore='controllaDB' onclick="prendival(this)">
				DB
			</div>

	</div>


<div id='footer'> copyright by TarG 2009 - present </div>

</body>
</html>



<style>

body{
	background: linear-gradient(180deg,rgba(95, 236, 95,.5),rgba(0, 128, 0,.5),rgba(0, 0, 255,.5),rgba(0, 0, 139,.5));
}


</style>



<script>

function prendival(e)
{
	let valore = e.getAttribute("param-valore")
	location.href = valore;
}
 

</script>