<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Controlla DB</title>
	<link rel='stylesheet' type='text/css' href='./main.css' />
 
</head>
<body >
<div id='mainContainer'>

	<div id='controllaDbBox'>

			<h2 style='color: rgb(5, 75, 20)'>
				Show database document/s
			</h2>

			<form method="post" action="/mostraDB"> 

					<button>Show db documents </button>

			</form>

			<form method="post" action="/creaDB"> 

					<button>Create db document</button>

			</form>


				<div id='controllaDbBoxOutput'>

					<h2>
						DB Content
					</h2>

<pre><!-- metti qui il codice js -->
<% if(dati.length > 0) { %> 
<%-
 JSON.stringify(dati, undefined, 2)
%> 
<% } %> 
</pre>


				</div>

	<p id='bottom-menu' >
		<a href='/login.html'>User Login</a> | <a href='/registrazione.html'>Register User</a> 
	</p>




	</div>


<div id='footer'>
 copyright by TarG 2009 - present
</div>


</div>

</body>
</html>