<% if( datiSessione == '' || datiSessione == 'distrutta' || datiSessione == undefined || datiSessione == null) {%>
	<%- include('redirect.ejs')  %>
<% } else { %>

	

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Home page</title>
	<link href='./main.css' rel='stylesheet' type='text/css'/>
</head>

<style>

.nomeUtenteConnesso{
	color: rgba(31, 12, 49, 0.8);
	font-weight: bold;
}

#textWelcome{
	background: linear-gradient(90deg, orange 15%, rgb(216, 154, 39) 40%,blue 70%);

	-webkit-background-clip: text;
	-moz-background-clip: text;
	-o-background-clip: text;
	-ms-background-clip: text;

	color: transparent;
	font-size: 7.7em;
	text-transform: capitalize;
	text-align: center;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	margin: 144px auto;
}

</style>

<body id='bodyPagHome'>

 


	<h1 id='titoloHomePage'>
		Login effettuato
	</h1>

	<div id='textWelcome'>
		Welcome
	</div>

	<p id='msgHome'>
		Sei nella home page
	</p>


	<div id='mgsToUserName'>
			<span>ciao	</span>   

			<span class="nomeUtenteConnesso">
			<%- 
			datiSessione
			%>
			</span>, <a href='/distruggiSessione'>distruggi sessione</a>
	</div>


<div id='footerDiv'> copyright by TarG 2009 - present </div>


</body>
</html>

<% } %>



<style>

#bodyPagHome{
	background: linear-gradient(180deg,rgba(95, 236, 95,.5), rgba(0, 128, 0,.5), rgba(0, 0, 255,.5), rgba(0, 0, 139,.5));
}

</style>