<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<meta http-equiv="refresh" content="5; url='/login'" />
	<link href="./main.css" rel='stylesheet' type='text/css' />
</head>
<body id='mainBoxRedirectErr'>
	

<h2>
	Login non effettuato o errato, redirezione in corso ...
</h2>

	<p>
		Entro 5 secondi verrai rediretto alla pagina del <a href='/login'>login</a>
	</p>



</body>
</html>